---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>
  <h1>Home</h1>
  <h2>Stepping on the beat da do do do</h2>

  <p>This is the index page of my site</p>

  <p>Trying to make a site from scratch so I can create my mom's site. BRUH</p>
</body>
	</body>
</html>
